{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
{% if not request.user.is_authenticated %}
    <h2>Create Account</h2>
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Account</button>
    </form>
{% else %}
    <p>Your account already exists.</p>
{% endif %}
{% endblock %}