@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

* {
    /* background: linear-gradient(60deg,#c9b2c5,#afb6e5); */
    background: #141414;
    color: #9b9b9b;
    /* color: #BFA181; */
}

body {
    /* background-color: rgb(240, 239, 239); */
    /* background-color: #141414; */
    padding-bottom: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #000; */
}

/* img {
    filter: grayscale(100%);
} */

h1 {
    color: #FFFFFF;
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 3rem;
    margin: 0;
}

h2 {
    color: #dddddd;
    font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

hr {
    border-color: rgba(255,255,255,.6);
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    color: #9b9b9b;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #0693e3;
    font-size: 1rem;
}

a, p {
    /* font-family: monospace; */
    font-family: Quicksand;
    letter-spacing: 1px;
    line-height: 1.5;
}
