@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,700');
/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,600;1,700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,600;1,700&family=Oswald:wght@200;400;500;600;700&display=swap'); */

/*css for colour variables*/
:root {
    --vBackground-Image: linear-gradient(to right, #434343 0%, black 100%);

    --vColor-Help-Text: #ff3b00;
    --vColor-Hover-Box: #f5d047;

    --vColor-Post-Button: #6a30fb;
    --vColor-Post-Button-Hover: #451bb0;

    --vColor-Site: #f4f3f0;

    --vColor-Title: #f2427d;
    --vColor-SubTitle: #87dae7;

    --vFont-Family-Title: 'Oswald', serif;
    --vFont-Family-Site: 'Raleway', sans-serif;

}

/*end css for colour variables*/

* {
    font-size: 16px;
}

a {
    color: var(--vColor-Site);
    font-family: var(--vFont-Family-Title);
    letter-spacing: 1.5;
    text-decoration: none;
    position: relative;
}

a>img,
#list-image {
    max-width: 400px;
}

body {
    background-image: var(--vBackground-Image);
    color: var(--vColor-Site);
    font-family: var(--vFont-Family-Site);
    font-style: italic;
    margin: 0 20px;
    padding-bottom: 20px 20px 100px 20px;
}

button,
input[type="submit"],
.send-button {
    background-color: var(--vColor-Post-Button);
    border-color: transparent;
    /* border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1; */
    border-radius: 60px;
    border-style: groove;
    color: var(--vColor-Site);
    cursor: pointer;
    font-size: 16px;
    height: 34px;
    width: 150px;
}

button:hover,
input[type="submit"]:hover,
.send-button:hover {
    background-color: var(--vColor-Post-Button-Hover);
    border-color: var(--vColor-Post-Button);
}

#contact {
    background-color: var(--vColor-Post-Button);
    border-radius: 0px;
    font-family: var(--vFont-Family-Title);
    font-size: 1rem;
    font-weight: bold;
    margin: 0px;
    text-transform: uppercase;
    width: 100%;
}

#contact:hover {
    background-color: var(--vColor-Post-Button-Hover);
}

#contact>a:hover {
    font-weight: lighter;
}

#container-section {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.class-label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1rem;
}

form>input[type="text"] {
    margin: 0px 0px 0px 125px;
    width: 75%;
}

form,
.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    max-width: 840px;
}

.form-control,
textarea,
input,
p {
    border-radius: 5px;
    border-style: none;
    font-family: var(--vFont-Family-Site);
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 5px 0px;
    width: 100%;
}

/* Left contact page */
.form-horizontal {
    /*float: left;*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    font-family: var(--vFont-Family-Site);
    font-weight: 400;
    width: 100%;
}


.form-horizontal p {
    color: var(--vColor-SubTitle);
}

.form-group {
    margin-bottom: 10px;
    line-height: 30px;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #000; */
}


h1 {
    color: var(--vColor-Site);
    text-decoration: none;
    font-size: 3rem;
    margin: 0;
}

h2 {
    text-align: start;
    margin: 0 auto;
    padding: 10px 0;
    font: var(--vFont-Title);
    font-size: 1.5rem;
    color: var(--vColor-SubTitle);
    text-transform: capitalize;
    letter-spacing: 1px;
}

h3 {
    color: var(--vColor-SubTitle);
    font: var(--vFont-Title);
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    text-align: start;
    text-transform: capitalize;
}

h4 {
    color: var(--vColor-Title);
    font: var(--vFont-Family-Title);
    letter-spacing: 1.5px;
    font-weight: lighter;
    margin: 0;
}

#header-text {
    flex-basis: 50%;
    display: flex;
}

#header-text>a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.helptext {
    color: var(--vColor-Help-Text);
    letter-spacing: 1px;
    font-weight: lighter;
    width: 80%;
}

hr {
    border-color: var(--vColor-SubTitle);
    margin: 20px auto;
    width: 250px;
}

#id-a-profile-card {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

#id-comment-form {
    margin: 25px;
    padding: 0px;
    position: relative;
    width: 350px;
}

#id-comment-form textarea {
    height: 50px;
    width: 300px;
}

#id-comment-ul {
    font: var(--vFont-Family-Site);
    font-weight: lighter;
    width: 500px;
}

#id-comment-ul>li {
    color: var(--vColor-Site);
    list-style: none;
    margin: 25px 0px;
    position: relative;
    padding: 0 0 0 20px;
}

#id-comment-ul>li::before,
#id-comment-ul>li::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 5px;
    width: 7px;
    height: 12px;
    background: var(--vColor-Title);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#id-comment-ul>li::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#id-comment-ul>li span {
    font-weight: bold;
}

#id-comment-date {
    font-size: smaller;
}

#id-edit-story {
    border: 1px solid var(--vColor-Title);
    border-radius: 8px;
    font-family: var(--vFont-Title);
    font-size: x-small;
    margin: 5px;
    padding: 5px;
    text-transform: capitalize;
    vertical-align: middle;
}

#id-edit-story:hover {
    background-color: var(--vColor-Hover-Box);
    border: 1px solid var(--vColor-Post-Button-Hover);
    border-radius: 8px;
    color: #272244;
    font-weight: bolder;
}

#id-list-stories {
    padding: 20px;
}

#id-list-stories>a::before,
#header-text>a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--vColor-Post-Button);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#id-list-stories>a:hover::before,
#header-text>a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#id-sign-up {
    border: 1px solid var(--vColor-Title);
    border-radius: 8px;
    font: var(--vFont-Family-TitleTitle);
    padding: 3px;
    text-transform: uppercase;
}

#id-sign-up:hover {
    background-color: var(--vColor-Hover-Box);
    border: 1px solid var(--vColor-Post-Button-Hover);
    border-radius: 8px;
    color: #272244;
    font-weight: bolder;
}

#id-social {
    background-color: var(--vColor-SubTitle);
    color: black;
    margin: 5px 0;
}

#id-social {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}


label {
    color: #69e9f5;
    line-height: 2;
    text-transform: uppercase;
    width: 150px;
}

#menu-outer {
    height: 55px;
    margin: 10px;
}

#name {
    font-size: 1.5rem;
}

nav {
    align-items: flex-end;
    color: var(--vColor-Title);
    display: flex;
    font-weight: bold;
    flex-direction: row nowrap;
    font: var(--vFont-Title);
    justify-content: space-between;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

nav li {
    display: inline;
    padding: 5px;
}

nav ul {
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

#profile-card {
    background-color: var(--vColor-Site);
    /* box-shadow: 0 4px 8px 0 whitesmoke; */
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
    border-style: solid;
    border-width: 3px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 150px;
    margin: auto;
    text-align: center;
    font-family: 'Oswald';
}

.profile-title {
    background-color: var(--vColor-Site);
    color: grey;
    font-size: 16px;
}

#profile-card>a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

#h1-profile-card {
    background-color: var(--vColor-Site);
    color: black;
}

h3#h1-profile-card {
    text-align: center;
}

.profile-wrapper {
    border: 1.5px solid #BFA181;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    position: relative;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    font: var(--vFont-Title);
    font-size: 1.5rem;
    color: var(--vColor-SubTitle);
    text-transform: uppercase;
    letter-spacing: 5px;
}

#table {
    box-shadow: var(--vColor-Hover-Box) 0px 10px 15px -10px;
    border-radius: 8px;
    display: table;
    /* Allow the centering to work */
    margin: 0 auto;
}

ul#horizontal-list {
    text-transform: uppercase;
    list-style: none;
    margin: 0 auto;
    padding: 12px;
}

ul#horizontal-list li {
    display: inline;
}

ul#horizontal-list li a {
    color: var(--vColor-Title);
    font-size: 1rem;
    font: 300 16px 'Oswald', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

ul#horizontal-list>li a:hover {
    background-color: var(--vColor-Hover-Box);
    border-radius: 8px;
    /* color: #272244; */
    font-weight: bolder;
}

ul>li {
    color: var(--vColor-Help-Text);
    letter-spacing: 1px;
    font-weight: lighter;
    width: 80%;
}

.write-story-class {
    background-image: var(--vBackground-Image);
    /* border: 1px solid var(--vColor-SubTitle); */
    margin: 15px 15px 25px;
    padding: 20px 0;
    text-align: end;
    text-transform: none;
}

#write-story-id {
    background-color: var(--vColor-Hover-Box);
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    color: var(--vColor-Title);
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px var(--vColor-Title);
    transition: all 0.13s ease-in;
    letter-spacing: 1.5px;
    margin: 0px;
    padding: 8px;
}

.write-story-class>a:hover {
    background-color: var(--vColor-Site);
    border-radius: 7px;
    text-transform: uppercase;
}

/* ul>li .errorlist {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #000;
    }

    49% {
        color: #000;
    }

    60% {
        color: transparent;
    }

    99% {
        color: transparent;
    }

    100% {
        color: #000;
    }
} */


/* #contact-button {
    border: none;
    border-radius: 0px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
} */