.story-card {
    margin: 25px;
    border: 2px solid var(--vColor-Site);
    padding: 25px;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
}

.story-card:hover {
    /* transform: translateY(-10px) rotate(1deg); */
    transform: translateY(-10px) rotate(-3deg);
    box-shadow: 3px 15px 20px -10px var(--vColor-Title);
}

.story-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#latest-stories {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "left-1 right-1" "left-1 right-2" "left-1 right-3";
    max-height: 800px;
}

#story-card-1 {
    grid-area: left-1;
}

#story-card-2 {
    grid-area: right-1;
}

#story-card-3 {
    grid-area: right-2;
}

#story-card-4 {
    grid-area: right-3;
}

#story-card-2 a,
#story-card-3 a,
#story-card-4 a {
    display: flex;
    max-height: 120px;
    width: 100%;
    height: 100%;
}

#story-card-2>a:visited,
#story-card-3>a:visited,
#story-card-4>a:visited,
.story-card-text>a:visited {
    text-decoration: none;
}

.story-card-text>a:link {
    margin: 0px;
    text-decoration: none;
}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
    font-size: 16px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
    font-size: 12px;
}

#story-card-2 img,
#story-card-3 img,
#story-card-4 img {
    width: 33%;
    height: 100%;
    margin-right: 5px;
}

#old-stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#old-stories .story-card {
    flex-basis: 32%;
    flex-grow: 1;
}

#story-content {
    margin: 20px;
}

#story-content p {
    color: var(--vColor-Site);
    font: var(--vFont-Family-Site);
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 5px;
    text-align: justify;
}

#story-content img {
    float: right;
    margin: 0 0 10px 10px;
    padding: 5px;
    height: auto;
    width: 200px;
}

#id-author {
    color: var(--vColor-SubTitle);
    font-size: 18px;
    font-family: var(--vFont-Family-Title);
    margin: 0;
    padding-bottom: 2.5px;
    text-transform: uppercase;
}

#id-author:hover {
    background-color: var(--vColor-Hover-Box);
    border-radius: 7px;
    color: var(--vColor-Title);
    padding: 5px;
}

#id-story-card-text {
    color: var(--vColor-Site);
}

#id_star {
    height: 15px;
    width: 15px;
}

/*CSS for comment starts here */