{% extends 'base.html' %}
{% load static %}

{% block content %}

<h3>List of All Stories</h3>
<div id="id-list-stories">
    {% if list_stories %}
        {% for story in list_stories %}
        <a href="{% url 'news:story' story.id %}">
            <div> 
                <h4>
                    {{ story.pub_date|date:'d M y' }} <img src="{% static '/news/images/blue-neon-star.png' %}" id="id_star"> {{ story.title }}
                </h4>           
            </div>
            <div>    
                <p>{{ story.content|truncatewords:50 }}</p>
            </div>
            <hr>
        </a>
        {% endfor %}    
    </a>
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</div>
{% endblock %}