{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4><a href="{% url 'users:viewAccount' story.author.id %}">{{ story.author }}</a></h4>
    <div id="story-content">
        <!-- <img src="{% static '/news/images/placeholder-5.jpg' %}"> -->
        {% if story.image_url %}
            <img src="{{ story.image_url }}">
        {% else %}
            <img src="https://picsum.photos/300?random={{ story.id }}">
        {% endif %}
        {{ story.content|linebreaks }}
    </div>
</div>

<div>
    <div>
        <!-- <form method="POST" action="{% url 'news:addComment' story.id %}"> -->
        <form method="POST" action="{{ form_action }}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Comment</button>
        </form>
    </div>
    
    <!-- <p><a href="{%  url 'news:addComment' story.id %}" >Add a comment</a></p> -->

    <ul>
    {% for comment in story.comments.all %}
        <li>{{comment.author.username}}: {{ comment.created_at }} {{comment.content }}</li>  
    {% endfor %}
    </ul> 
</div>

{% endblock %}