{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <div>
        <a href="{% url 'users:viewAccount' story.author.id %}" id="id-author">
        {% if story.author.first_name or story.author.last_name %}
            {{ story.author.first_name }} {{ story.author.last_name }}
        {% else %}
            {{ story.author.username }}
        {% endif %}
        </a>
    </div>
    <h2>
        {{ story.title }}
        {% if request.user.is_authenticated and story.author.id == request.user.id %}
            <a href="{% url 'news:editStory' story.id %}" id="id-edit-story">Edit Story</a>
        {% endif %}
    </h2>
    <div id="story-content">
        <!-- <img src="{% static '/news/images/placeholder-5.jpg' %}"> -->
        {% if story.image_url %}
            <img src="{{ story.image_url }}">
        {% else %}
            <img src="{% static '/images/no-photo-available.png' %}" style="height: 100px; width: auto">
        {% endif %}
    
        {{ story.content|linebreaks }}
    </div>
    
</div>

<div>
    <div>
        <!-- <form method="POST" action="{% url 'news:addComment' story.id %}"> -->
        <form method="POST" action="{{ form_action }}" id="id-comment-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Post</button>
        </form>
    </div>
    
    <!-- <p><a href="{%  url 'news:addComment' story.id %}" >Add a comment</a></p> -->

    <ul id="id-comment-ul">
    {% for comment in story.comments.all %}
        <li> 
            <div>
                <span>
                {% if comment.author.first_name or comment.author.last_name %}
                    {{ comment.author.first_name }} {{ comment.author.last_name }}
                {% else %}
                    {{ comment.author.username }}
                {% endif %}
                </span> 
                commented: {{comment.content }}
            </div>
            <div>
                <span id="id-comment-date">posted on {{ comment.created_at }}</span>
            </div>
        </li>  
    {% endfor %}
    </ul> 
</div>

{% endblock %}